<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <title>顯示所有資料</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/homeIndex/">首頁</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-light my-2 my-sm-0" onclick="home()">新增</button>
            </li>
          </ul>

          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-warning my-2 my-sm-0" id="{{firstname}}" onclick="perosonIndex(event)">待處理
                {% if allpersonCount != 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{allpersonCount}}
                </span>
                {% endif %}
              </button>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-danger my-2 my-sm-0" onclick="Tomessage(event)">訊息</button>
            </li>
          </ul>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              其他表單
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
              <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
              <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
              <a class="dropdown-item" href="/contractallIndex/">發包議價表</a>
              <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="display: flex; justify-content: center;">
            <li class="nav-item active">
              <a class="navbar-brand">修改密碼</a>
            </li>
          </ul>
        <ul class="navbar-nav ml-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: green;">
              {{firstname}} <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/setAgent/">設定代理人</a>
                <a class="dropdown-item" href="/changepassword/">修改密碼</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-2">
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="container mt-3">
    <h2>個人資料</h2>
  </div>
  
  <div class="container-lg">
    <div class="row">
        <table class="table">
            <thead>
                <th scope="col">姓名</th>
                <th scope="col">員工編號</th>
                <th scope="col">職稱</th>
                <th scope="col">主管職</th>
                <th scope="col">部門</th>
              </thead>
              <tbody>
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{user.username}}</td>
                    <td>{{title}}</td>
                    <td>{{user.ispro}}</td>
                    <td>{{position}}</td>
                </tr>
              </tbody>
        </table>
    </div>
  </div>

  <div class="container mt-3">
    <h2>修改密碼</h2>
  </div>
  <form action="." method="post" name="form1" enctype="multipart/form-data" id="{{user.password}}">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th>原來密碼</th>
                    <td><input type="text" id="old_pass" name="old_pass"></td>
                </tr>
                <tr>
                    <th>更新密碼</th>
                    <td><input type="text" id="new_password" name="new_password"></td>
                </tr>
                <tr>
                    <th>確認更新密碼</th>
                    <td><input type="text" id="again_password" name="again_password"></td>
                </tr>
                <tr>
                    <th align="center" scope="col">
                      <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
                      <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設">
                    </th>
                  </tr>
            </table>
        </div>
    </div>
  </form>

  <script src="{% static 'jquery.min.js' %}"></script>
  <script>
    function Logout() {
      $(location).attr("href", "/logout/");
    }

    function perosonIndex(event) {
      var id = event.target.id
      $(location).attr("href", "/perosonIndex/" + id + "/");
    }

    function home() {
      $(location).attr("href", "/homePost/")
    }

    function Tomessage() {
      $(location).attr("href", "/message/")
    }
    // function validateForm(event){
    //     var old_password = event.target.id
    //     var oldPass = document.getElementById('old_pass').value;
    //     var new_password = document.getElementById('new_password').value;
    //     var again_password = document.getElementById('again_password').value;
    //     console.log(old_password,oldPass,newPass,again_password)
    //     if (oldPass == old_password && again_password == new_password) {

    //         alert("密碼修改成功");
    //         $(location).attr("href", "/homeIndex/")
    //     }
    //     if(oldPass == old_password && again_password != new_password){
    //         alert('更新密碼和確認密碼需相同');
    //         return false;
    //     }
    //     else if(oldPass != old_password){
    //         alert('現在密碼輸入錯誤');
    //         return false;
    //     }
    // }
  </script>

</body>
</html>