<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.structure.min.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.theme.min.css' %}">
  <title>顯示資料</title>
</head>

<body>
  <h2 align="left">顯示 {{change.cNumber}} 資料</h2>
  <button onclick="BackToHome()">回首頁</button>
  <form action="." method="POST">
    {% csrf_token %}
    <table border='2' cellpadding='5' cellspacing='2'>
      <th>筆數</th>
      <th>編號</th>
      <th>專案名稱</th>
      <th>變更項目</th>
      <th>變更原因</th>
      <th>如何變更</th>
      <th>影響項目</th>
      <th>變更風險說明</th>
      <th>變更要點說明</th>
      <th>技術通報</th>
      <tr>
        <td>{{change.id}}</td>
        <td>{{change.cNumber}}</td>
        <td>{{change.cProjectName}}</td>
        <td>{{change.cChangeitem}}</td>
        <td>{{change.cChangereason}}</td>
        <td>{{change.cHowChange}}</td>
        <td>{{change.cAffectitem}}</td>
        <td>{{change.cRisk}}</td>
        <td>{{change.cKeypoint}}</td>
        <td>{{change.cTech_bulletin}}</td>
        <td>
          <button type="button" class="{{change.id}}" id="{{home.cNumber}}/{{change.id}}" onclick="Edit(event)">編輯</button>          
        </td>
      </tr>

    </table>
  </form>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script>


      function Edit(event){
        var id = event.target.id
        $(location).attr("href","/changeEdit/"+id+"/load");
      }


      function BackToHome(){
        $(location).attr("href","/homeIndex/");
      }



  </script>

  <script scr="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.js' %}"></script>
</body>

</html>