<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <title>資料表新增</title>

  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" >首頁</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                其他表單
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
                <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
                <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
                <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
                <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
              </div>
            </li> -->
          </ul>
          <ul class="navbar-nav mr-auto" style="display: flex; justify-content: center;">
            <li class="nav-item active">
                <a class="navbar-brand">設計變更通知單新增</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item active">
              <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h2 class="mt-2">設計變更通知單 資料表新增</h2>
      </div>
      <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    </div>

    <form action="." method="post" name="form1" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <table class="table">
            <tr><th>編號</th><td>{{changeform.cNumber}}</td> </tr> 
            <tr><th>專案名稱</th><td>{{changeform.cProjectName}}</td></tr>
            <tr><th>變更方式</th>
                <td>
                <input name="cHowChange" type="radio"  value="設計變更(永久)" checked="checked"/>設計變更(永久)
                <input name="cHowChange" type="radio" value="設計變更(個案)"/>設計變更(個案)
                </td>
            </tr>
            <tr><th>變更項目</th>
                <td>
                <input name="cChangeitem" type="radio"  value="設計圖面" checked="checked"/>設計圖面
                <input name="cChangeitem" type="radio" value="產品/工程規範"/>產品/工程規範
                <input name="cChangeitem" type="radio"  value="標準料表(BOM)" checked="checked"/>標準料表(BOM)
                <input name="cChangeitem" type="radio" value="檢驗標準"/>檢驗標準
                </td>
            </tr>
            <tr><th>變更原因</th>
                <td>
                <p style="color:red; font-weight: bold">※有償請簽核完畢影印一份管理部稽核</p>
                <input name="cChangereason" type="radio" value="客戶需求改變" checked="checked" id="1" />客戶需求改變
                <input name="cChangereason" type="radio" value="設計錯誤" id="2" />設計錯誤
                <input name="cChangereason" type="radio" value="製造單位要求改變" id="3" />製造單位要求改變
                <input name="cChangereason" type="radio" value="其他" id="Other" />其他
                <input name="cChangereason" type="text" value="" id="other" />
                </td>
            </tr>
            <tr><th>有償/無償</th>
              <td>
              <input name="cEarn" type="radio"  value="有償" checked="checked"/>有償
              <input name="cEarn" type="radio" value="無償"/>無償
              </td>
            </tr>
            <tr><th>影響項目</th><td>{{changeform.cAffectitem}}</td></tr>
            <tr><th>變更要點說明</th><td>{{changeform.cKeypoint}}</td></tr>
            <tr><th>變更潛在風險說明</th><td>{{changeform.cRisk}}</td></tr>
            {% if lastname == "廠務部" %}
            <tr>
                <th>廠務部意見</th><td>{{changeform.cOption_FS}}</td>
                <th>簽名</th><td>{{changeform.cFs_Sign}}</td>
            </tr>
            {% endif %}
            {% if lastname == "業務設計部" %}
            <tr>
                <th>業務設計部意見</th><td>{{changeform.cOption_Design}}</td>
                <th>簽名</th><td>{{changeform.cDesign_Sign}}</td>
            </tr>
            {% endif %}
            {% if lastname == "品管課" %}
            <tr>
                <th>品管課意見</th><td>{{changeform.cOption_Quality}}</td>
                <th>簽名</th><td>{{changeform.cQuality_Sign}}</td>
            </tr>
            {% endif %}
            {% if firstname == "蔡榕蓉" %}
            <tr>
                <th>採購課意見</th><td>{{changeform.cOption_Purchase}}</td>
                <th>簽名</th><td>{{changeform.cPurchase_Sign}}</td>
            </tr>
            {% endif %}
            <tr><th>副本印製</th>
                <td>
                    <input type="checkbox" value="業務" class="check_box_list"/>業務
                    <input type="checkbox" value="設計" class="check_box_list"/>設計
                    <input type="checkbox" value="管理" class="check_box_list"/>管理
                    <input type="checkbox" value="顧問" class="check_box_list"/>顧問
                    <input type="checkbox" value="工程" class="check_box_list"/>工程
                    <input type="checkbox" value="廠務" class="check_box_list"/>廠務
                    <input type="checkbox" value="品管" class="check_box_list"/>品管
                    <input type="checkbox" value="無" class="check_box_list"/>無
                </td>
            </tr>
            <tr><th>技術通報</th>
                <td>
                  <input name="cTech_bulletin" type="radio"  value="是" checked="checked"/>是
                  <input name="cTech_bulletin" type="radio" value="否"/>否
                </td>
            </tr>
            
            <tr><th>承辦人</th><td>{{changeform.cUndertaker}}</td></tr>
            <tr>
              <th>檔案</th>
              <td>
                <input name="cFile" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile1" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile2" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile3" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile4" type="file">
              </td>
            </tr>
            <tr>
              <th align="center">
                <input type="hidden" name="cCC" id="textvalue">
                <input type="hidden" name="cChangereason" id="textvalue1" value="客戶需求改變">
                <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
                <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設">
              </th>
            </tr>
          </table>
        </div>
      </div>
    </form>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'customer.js' %}"></script>
    <script type="text/javascript">prohibitpreviouspage();</script>
    <script>
        $(document).ready(function(){
            $(".check_box_list").click(function(){
                var test = ""
                $(".check_box_list:checked").each(function(){
                    test+=$(this).val()+","
                });
                test= test.substring(0,test.length-1)
                $("#textvalue").val(test);
            })
            $("#other").hide();

            $('#Other').click(function () {
              var test2 = ""
              if ($(this).is(':checked')) {
                $("#other").show();

              }
              else {
                $("#other").html('');
                $("#other").hide();
              }
              test2 = $("#other").val()
              $("#textvalue1").val(test2);
            });

            $("#other").on("input", function () {
              test2 = $(this).val();
              $("#textvalue1").val(test2);

            });

            $('#1').click(function () {

              $("#other").html('');
              $("#other").hide();
              test2 = $(this).val()
              $("#textvalue1").val(test2);

            });
            $('#2').click(function () {

              $("#other").html('');
              $("#other").hide();
              test2 = $(this).val()
              $("#textvalue1").val(test2);
            });
            $('#3').click(function () {

              $("#other").html('');
              $("#other").hide();
              test2 = $(this).val()
              $("#textvalue1").val(test2);

              })
            })

          function Logout(){
          $(location).attr("href","/logout/");
          }

    </script>
  


  </body>
</html>
