<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <title>資料表修改</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/homeIndex/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
                <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
                <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
                <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
                <a class="dropdown-item" href="/changeallIndex/">變更通知單</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item active">
              <a class="nav-link disabled" style="color: green;">{{username}} <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h2 class="mt-2">工程發包議價記錄單 資料表修改</h2>
      </div>
    </div>

    <form action="/contractEdit/{{index.cNumber}}/{{unit.id}}/save" method="POST" name="form1">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>客戶名稱</th>
                        <td><input type="text" id="cClient" name="cClient" value={{unit.cClient}}></td>
                    </tr>
                    <tr>
                        <th>工地名稱/地點</th>
                        <td><input type="text" id="cLocation" name="cLocation" value={{unit.cLocation}}></td>
                    </tr>
                    <tr>
                        <th>發包內容</th>
                        <td><textarea  id="cContent" name="cContent">{{unit.cContent}}</textarea></td>
                    </tr>
                    <tr>
                        <th>確認訂單</th>
                        <td><textarea  id="cConfirm" name="cConfirm">{{unit.cConfirm}}</textarea></td>
                    </tr>
                    <tr>
                      <th>工程預算</th>
                      <td><input type="text" id="cBudget" name="cBudget" value={{unit.cBudget}}></td>
                    </tr>
                    <tr>
                        <th>付款方式</th>
                        {% if unit.cPayMode == "現金" %}
                            <td>
                              <input name="cPayMode" type="radio" id="cPayMode1" value="現金" checked="checked" />
                              現金
                              <input name="cPayMode" type="radio" id="cPayMode2" value="支票" />
                              支票
                              <input name="cPayMode" type="text" id="other" value="">
                            </td>
                        {% else %}
                            <td>
                              <input name="cPayMode" type="radio" id="cPayMode1" value="現金"  />
                              現金
                              <input name="cPayMode" type="radio" id="cPayMode2" value="支票" checked="checked"/>
                              支票
                              <input name="cPayMode" type="text" id="other" value={{unit.cPayMode}}>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>備註</th>
                        <td><textarea  id="cOther" name="cOther">{{unit.cOther}}</textarea></td>
                    </tr>
                    {% if firstname == "總座" %}
                        <tr>
                            <th>總經理簽名</th>
                            <td><input type="text" id="cGeneral_Sign" name="cGeneral_Sign" value={{unit.cGeneral_Sign}}></td>
                        </tr>
                    {% elif firstname == "副總" %}
                        <tr>
                            <th>副總經理簽名</th>
                            <td><input type="text" id="cViceGeneral_Sign" name="cViceGeneral_Sign" value={{unit.cViceGeneral_Sign}}></td>
                        </tr>
                    {% elif authenticate == True %}
                        <tr>
                            <th>部門主管簽名</th>
                            <td><input type="text" id="cManager_Sign" name="cManager_Sign" value={{unit.cManager_Sign}}></td>
                        </tr>
                        <tr>
                            <th>單位主管簽名</th>
                            <td><input type="text" id="cDepartmentManager_Sign" name="cDepartmentManager_Sign" value={{unit.cDepartmentManager_Sign}}></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>承辦人簽名</th>
                        <td><input type="text" id="cUndertaker" name="cUndertaker" value={{unit.cUndertaker}}></td>
                    </tr>
                    <tr>
                        <th colspan="2" align="center">
                          <input type="hidden" name="cPayMode" id="textvalue1" value={{unit.cPayMode}}>
                        <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
                        <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設"></th>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    <script src="{% static 'jquery.min.js' %}"></script>

    <script>

      function Logout(){
          $(location).attr("href","/logout/");
      }

      $(document).ready(function () {
        if($("#other").val()==undefined || $("#other").val()== ""){
          $("#other").hide();
        }
        else{
            $("#other").val()
        }
            
        $('#cPayMode2').click(function () {
            var test2 = ""
            $("#other").show();
            if ($(this).is(':checked')) {
                $("#other").show();
            }
            else {
                $("#other").html('');
                $("#other").hide();
            }
            test2 = $("#other").val()
            $("#textvalue1").val(test2);
        });



        $("#other").on("input", function () {
            test2 = "支票，" + $(this).val();
            $("#textvalue1").val(test2);

        });

        $('#cPayMode1').click(function () {

            $("#other").html('');
            $("#other").hide();
            test2 = $(this).val()
            $("#textvalue1").val(test2);

        });

      })

      

    </script>
</body>
</html>

