<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <title>資料表修改</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/homeIndex/">首頁</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                其他表單
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
                <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
                <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
                <a class="dropdown-item" href="/contractallIndex/">發包議價表</a>
                <a class="dropdown-item" href="/changeallIndex/">變更通知單</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto" style="display: flex; justify-content: center;">
            <li class="nav-item active">
                <a class="navbar-brand">發包議價單修改</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item active">
              <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h2 class="mt-2">發包議價表 資料表修改</h2>
      </div>
      <button class="btn btn-success my-2 my-sm-0" id="{{unithome.cNumber}}" onclick="contractinnerIndex(event)">修改議價單內容</button>
      <button class="btn btn-success my-2 my-sm-0" id="{{unithome.cNumber}}" onclick="transfer(event)">修改簽核順序</button>
      <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    </div>

    <form action="/contractEdit/{{unithome.cNumber}}/{{unit.id}}/save" method="POST" name="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <table class="table">
                  {% if unithome.cProgress != "結案" %}
                    <tr>
                      <th>發文者</th>
                      <td><input type="text" id="cAuther" name="cAuther" value="{{unithome.cAuther}}"></td>
                    </tr>
                    <tr>
                      <th>主旨</th>
                      <td><input type="text" id="cSubject" name="cSubject" value="{{unithome.cSubject}}"></td>
                    </tr>
                    
                    <tr>
                      <th>完成日期</th>
                      {% if unithome.cEndDate == "None" %}
                          <td><input type="text" id="cEndDate" name="cEndDate" value=""></td>
                      {% else %}
                          <td><input type="text" id="cEndDate" name="cEndDate" value="{{unithome.cEndDate}}"></td>
                      {% endif %}
                    </tr>
                    
                    <tr>
                        <th>客戶名稱</th>
                        <td><input type="text" id="cClient" name="cClient" value="{{unit.cClient}}"></td>
                    </tr>
                    <tr>
                        <th>工地名稱/地點</th>
                        <td><input type="text" id="cLocation" name="cLocation" value="{{unit.cLocation}}"></td>
                    </tr>
                    <tr>
                        <th>發包內容</th>
                        <td><textarea  id="cContent" name="cContent">{{unit.cContent}}</textarea></td>
                    </tr>
                    <tr>
                        <th>確認訂單</th>
                        <td><textarea  id="cConfirm" name="cConfirm">{{unit.cConfirm}}</textarea></td>
                    </tr>
                    <tr>
                      <th>工程預算</th>
                      <td><input type="text" id="cBudget" name="cBudget" value="{{unit.cBudget}}"></td>
                    </tr>
                    <tr>
                        <th>付款方式</th>
                        {% if unit.cPayMode == "現金" %}
                            <td>
                              <input name="cPayMode" type="radio" id="cPayMode1" value="現金" checked="checked" onclick="togglePaymentDetails()"/>
                              現金
                              <input name="cPayMode" type="radio" id="cPayMode2" value="支票" onclick="togglePaymentDetails()"/>
                              支票
                              <span id="paymentDetails" style="display:None;">
                                ，當月結<input name="cPayMode" type="text" id="other" value="" oninput="updateAdditionalTextbox()">天票
                              </span>
                            </td>
                        {% else %}
                            <td>
                              <input name="cPayMode" type="radio" id="cPayMode1" value="現金"  onclick="togglePaymentDetails()"/>
                              現金
                              <input name="cPayMode" type="radio" id="cPayMode2" value="支票" checked="checked" onclick="togglePaymentDetails()"/>
                              支票
                              <span id="paymentDetails" style="display:inline-block;">
                                ，當月結<input name="cPayMode" type="text" id="other" value="{{unit.cPayMode}}" required oninput="updateAdditionalTextbox()">天票
                              </span>
                            </td>
                        {% endif %}
                    </tr> 
                    <tr>
                        <th>備註</th>
                        <td><textarea  id="cOther" name="cOther">{{unit.cOther}}</textarea></td>
                    </tr>
                    <tr>
                      <th>檔案</th>
                      <td>
                        {% if unithome.cFile != "" %}
                          <a href="http://127.0.0.1:8000/media/{{unithome.cFile}}" download>{{unithome.cFile}}</a>
                          <p></p>
                          <span>更新檔案<span style="font-size: 20px;">&#8594;</span></span>
                        {% endif %}
                        <span><input name="cFile" type="file"></span>
                      </td>
                    </tr>
                    <tr>
                      <th></th>
                      <td>
                        {% if unithome.cFile1 != "" %}
                          <a href="http://127.0.0.1:8000/media/{{unithome.cFile1}}" download>{{unithome.cFile1}}</a>
                          <p></p>
                          <span>更新檔案<span style="font-size: 20px;">&#8594;</span></span>
                        {% endif %}
                        <input name="cFile1" type="file">
                      </td>
                    </tr>
                    <tr>
                      <th></th>
                      <td>
                        {% if unithome.cFile2 != "" %}
                          <a href="http://127.0.0.1:8000/media/{{unithome.cFile2}}" download>{{unithome.cFile2}}</a>
                          <p></p>
                          <span>更新檔案<span style="font-size: 20px;">&#8594;</span></span>
                        {% endif %}
                        <input name="cFile2" type="file">
                      </td>
                    </tr>
                    <tr>
                      <th></th>
                      <td>
                        {% if unithome.cFile3 != "" %}
                          <a href="http://127.0.0.1:8000/media/{{unithome.cFile3}}" download>{{unithome.cFile3}}</a>
                          <p></p>
                          <span>更新檔案<span style="font-size: 20px;">&#8594;</span></span>
                        {% endif %}
                        <input name="cFile3" type="file">
                      </td>
                    </tr>
                    <tr>
                      <th></th>
                      <td>
                        {% if unithome.cFile4 != "" %}
                          <a href="http://127.0.0.1:8000/media/{{unithome.cFile4}}" download>{{unithome.cFile4}}</a>
                          <p></p>
                          <span>更新檔案<span style="font-size: 20px;">&#8594;</span></span>
                        {% endif %}
                        <input name="cFile4" type="file">
                      </td>
                    </tr>
                  {% else %}

                  {% endif %}
                    
                    <tr>
                        <th colspan="2" align="center">
                        <input type="hidden" name="cPayMode" id="textvalue1" value="{{unit.cPayMode}}">
                        <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
                        <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設"></th>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'customer.js' %}"></script>
    <script type="text/javascript">prohibitpreviouspage();</script>

    <script>

      function Logout(){
          $(location).attr("href","/logout/");
      }
      function contractinnerIndex(event){
            var id = event.target.id
            $(location).attr("href","/contractinnerIndex/"+id+'/');
      }
      function transfer(event){
        var id = event.target.id
        $(location).attr("href","/transferPost/"+id+"/");
      }

      document.addEventListener("DOMContentLoaded", function() {
        var inputElement = document.getElementById("other");
        var currentValue = inputElement.value;
        var modifiedValue = currentValue.replace("支票，當月結", '').replace("天票","");
        inputElement.value = modifiedValue;
      });

        function togglePaymentDetails() {
        var radioCash = document.getElementById('cPayMode1');
        var radioCheck = document.getElementById('cPayMode2');
        var textInput = document.getElementById('other');
        var textInput22 = document.getElementById('paymentDetails');
        var additionalTextbox = document.getElementById('textvalue1');

        if (radioCheck.checked) {
            textInput22.style.display = 'inline-block';
            updateAdditionalTextbox();
        } else {
            textInput22.style.display = 'none';
            additionalTextbox.value = '現金';
        }
      }

      function updateAdditionalTextbox() {
        var textInput = document.getElementById('other');
        var additionalTextbox = document.getElementById('textvalue1');
        additionalTextbox.value = '支票，當月結' + textInput.value + '天票';
      }

    </script>
</body>
</html>

