<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.structure.min.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.theme.min.css' %}">
  <title>顯示資料</title>
</head>

<body>
  <h2 align="left">顯示 {{contract.cNumber}} 資料</h2>
  <button onclick="BackToHome()">回首頁</button>
  <form action="." method="POST">
    {% csrf_token %}
    <table border='2' cellpadding='5' cellspacing='2'>
    <th>筆數</th>
    <th>編號</th>
    <th>客戶名稱</th>
    <th>工地名稱/地點</th>
    <th>發包內容</th>
    <th>確認訂單</th>
    <th>付款方式</th>
    <th>工程預算</th>
    <tr>
        <td>{{contract.id}}</td>
        <td>{{contract.cNumber}}</td>
        <td>{{contract.cClient}}</td>
        <td>{{contract.cLocation}}</td>
        <td>{{contract.cContent}}</td>
        <td>{{contract.cConfirm}}</td>
        <td>{{contract.cPayMode}}</td>
        <td>{{contract.cBudget}}</td>
        <td>
          <button type="button" class="{{contract.id}}" id="{{home.cNumber}}/{{contract.id}}" onclick="Edit(event)">編輯</button>          
          <button type="button" class="{{contract.id}}" id="{{home.cNumber}}" onclick="newContent()">填寫議價記錄</button>
        </td>
      </tr>

    </table>
  </form>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script>


      function Edit(event){
        var id = event.target.id
        $(location).attr("href","/contractEdit/"+id+"/load");
      }


      function BackToHome(){
        $(location).attr("href","/homeIndex/");
      }
      function newContent(){
        var id = event.target.id
        $(location).attr("href","/contractinnerIndex/"+id+"/");
      }



  </script>

  <script scr="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.js' %}"></script>
</body>

</html>