<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.theme.min.css' %}">
    <title>資料表新增</title>
  </head>
  <body>
    <h2>議價記錄 資料表新增</h2>
    <!-- <button><a href="/indexSign/" style="text-decoration:none">回簽呈資料表</a></button> -->
    <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    <form action="/contractinnerPost/{{innercontract.cNumber}}/" method="post" name="form1">
    {% csrf_token %}
    
    <table border="1" cellpadding="5" cellspacing='3'>
        
      <tr><th>承包商</th><td>{{contractinnerform.cContractor}}</td> </tr>
      <tr><th>報價</th><td>{{contractinnerform.cQuotation}}</td> </tr>
      <tr><th>第一次議價</th><td>{{contractinnerform.cBargain1}}</td></tr>
      <tr><th>第二次議價</th><td>{{contractinnerform.cBargain2}}</td></tr>
      <tr><th>備註欄</th><td>{{contractinnerform.cRemark}}</td></tr>
      <tr>
  		<th align="center">
        <input type="submit" name="button" id="button" value="送出">
  	    <input type="reset" name="button2" id="button2" value="重設">
      </th>
  	  </tr>
    </table>
  </form>


  </body>
</html>
