<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <title>資料表修改</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/homeIndex/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
                <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
                <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
                <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
                <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item active">
              <a class="nav-link disabled" style="color: green;">{{username}} <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h2 class="mt-2">資料表修改</h2>
      </div>
      <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    </div>

    <form action="/homeEdit/{{unit.id}}/save" method="POST" name="form1">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <table class="table">
                  {% if unit.cLock == "否" %}
                    <tr>
                        <th>部門別</th>
                        {% if unit.cDepartment == "總經理室" %}
                            <td >
                                <input name="cDepartment" type="radio" id="cDepartment1" value="總經理室" checked="checked" />
                                總經理室
                                <input name="cDepartment" type="radio" id="cDepartment2" value="稽核室" />
                                稽核室
                                <input name="cDepartment" type="radio" id="cDepartment3" value="文管中心" />
                                文管中心
                                <input name="cDepartment" type="radio" id="cDepartment4" value="管理部" />
                                管理部
                                <input name="cDepartment" type="radio" id="cDepartment3" value="業務設計部" />
                                業務設計部
                                <input name="cDepartment" type="radio" id="cDepartment4" value="廠務部" />
                                廠務部
                            </td>
                        {% elif unit.cProgress == "稽核室" %}
                            <td >
                                <input name="cDepartment" type="radio" id="cDepartment1" value="總經理室"  />
                                總經理室
                                <input name="cDepartment" type="radio" id="cDepartment2" value="稽核室" checked="checked"/>
                                稽核室
                                <input name="cDepartment" type="radio" id="cDepartment3" value="文管中心" />
                                文管中心
                                <input name="cDepartment" type="radio" id="cDepartment4" value="管理部" />
                                管理部
                                <input name="cDepartment" type="radio" id="cDepartment3" value="業務設計部" />
                                業務設計部
                                <input name="cDepartment" type="radio" id="cDepartment4" value="廠務部" />
                                廠務部
                            </td>
                        {% elif unit.cProgress == "文管中心" %}
                            <td >
                                <input name="cDepartment" type="radio" id="cDepartment1" value="總經理室"  />
                                總經理室
                                <input name="cDepartment" type="radio" id="cDepartment2" value="稽核室" />
                                稽核室
                                <input name="cDepartment" type="radio" id="cDepartment3" value="文管中心" checked="checked"/>
                                文管中心
                                <input name="cDepartment" type="radio" id="cDepartment4" value="管理部" />
                                管理部
                                <input name="cDepartment" type="radio" id="cDepartment3" value="業務設計部" />
                                業務設計部
                                <input name="cDepartment" type="radio" id="cDepartment4" value="廠務部" />
                                廠務部
                            </td>
                        {% elif unit.cDepartment == "管理部" %}
                            <td >
                                <input name="cDepartment" type="radio" id="cDepartment1" value="總經理室"  />
                                總經理室
                                <input name="cDepartment" type="radio" id="cDepartment2" value="稽核室" />
                                稽核室
                                <input name="cDepartment" type="radio" id="cDepartment3" value="文管中心" />
                                文管中心
                                <input name="cDepartment" type="radio" id="cDepartment4" value="管理部" checked="checked"/>
                                管理部
                                <input name="cDepartment" type="radio" id="cDepartment3" value="業務設計部" />
                                業務設計部
                                <input name="cDepartment" type="radio" id="cDepartment4" value="廠務部" />
                                廠務部
                            </td>
                        {% elif unit.cDepartment == " 業務設計部" %}
                            <td >
                                <input name="cDepartment" type="radio" id="cDepartment1" value="總經理室"  />
                                總經理室
                                <input name="cDepartment" type="radio" id="cDepartment2" value="稽核室" />
                                稽核室
                                <input name="cDepartment" type="radio" id="cDepartment3" value="文管中心" />
                                文管中心
                                <input name="cDepartment" type="radio" id="cDepartment4" value="管理部" />
                                管理部
                                <input name="cDepartment" type="radio" id="cDepartment3" value="業務設計部" checked="checked"/>
                                業務設計部
                                <input name="cDepartment" type="radio" id="cDepartment4" value="廠務部" />
                                廠務部
                            </td>
                        {% else %}
                            <td >
                                <input name="cDepartment" type="radio" id="cDepartment1" value="總經理室"  />
                                總經理室
                                <input name="cDepartment" type="radio" id="cDepartment2" value="稽核室" />
                                稽核室
                                <input name="cDepartment" type="radio" id="cDepartment3" value="文管中心" />
                                文管中心
                                <input name="cDepartment" type="radio" id="cDepartment4" value="管理部" />
                                管理部
                                <input name="cDepartment" type="radio" id="cDepartment3" value="業務設計部" />
                                業務設計部
                                <input name="cDepartment" type="radio" id="cDepartment4" value="廠務部" checked="checked"/>
                                廠務部
                            </td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <th>文件進度</th>
                        {% if unit.cProgress == "草稿" %}
                            <td >
                            <input name="cProgress" type="radio" id="cProgress1" value="草稿" checked="checked" />
                            草稿
                            <input name="cProgress" type="radio" id="cProgress2" value="流程中" />
                            流程中
                            <input name="cProgress" type="radio" id="cProgress3" value="廢單" />
                            廢單
                            <input name="cProgress" type="radio" id="cProgress4" value="結案" />
                            結案
                            </td>
                        {% elif unit.cProgress == "流程中" %}
                            <td >
                                <input name="cProgress" type="radio" id="cProgress1" value="草稿"  />
                                草稿
                                <input name="cProgress" type="radio" id="cProgress2" value="流程中" checked="checked"/>
                                流程中
                                <input name="cProgress" type="radio" id="cProgress3" value="廢單" />
                                廢單
                                <input name="cProgress" type="radio" id="cProgress4" value="結案" />
                                結案
                            </td>
                        {% elif unit.cProgress == "廢單" %}
                            <td >
                                <input name="cProgress" type="radio" id="cProgress1" value="草稿"  />
                                草稿
                                <input name="cProgress" type="radio" id="cProgress2" value="流程中" />
                                流程中
                                <input name="cProgress" type="radio" id="cProgress3" value="廢單" checked="checked"/>
                                廢單
                                <input name="cProgress" type="radio" id="cProgress4" value="結案" />
                                結案
                            </td>
                        {% else %}
                            <td >
                                <input name="cProgress" type="radio" id="cProgress1" value="草稿" />
                                草稿
                                <input name="cProgress" type="radio" id="cProgress2" value="流程中" />
                                流程中
                                <input name="cProgress" type="radio" id="cProgress3" value="廢單" />
                                廢單
                                <input name="cProgress" type="radio" id="cProgress4" value="結案" checked="checked"/>
                                結案
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>完成日期</th>
                        <td><input type="text" id="cEndDate" name="cEndDate" value={{unit.cEndDate}}></td>
                    </tr>
                    {% if authenticate == True %}
                      <tr>
                        <th>鎖定</th>
                        {% if unit.cLock == "否" %}
                          <td>
                            <input name="cLock" type="radio" id="cLock1" value="否" checked="checked" />
                            否
                            <input name="cLock" type="radio" id="cLock2" value="是" />
                            是
                          </td>
                        {% else %}
                          <td>
                            <input name="cLock" type="radio" id="cLock1" value="否"  />
                            否
                            <input name="cLock" type="radio" id="cLock2" value="是" checked="checked"/>
                            是
                          </td>
                        {% endif %}
                      </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                      <th>鎖定</th>
                      {% if unit.cLock == "否" %}
                        <td>
                          <input name="cLock" type="radio" id="cLock1" value="否" checked="checked" />
                          否
                          <input name="cLock" type="radio" id="cLock2" value="是" />
                          是
                        </td>
                      {% else %}
                        <td>
                          <input name="cLock" type="radio" id="cLock1" value="否"  />
                          否
                          <input name="cLock" type="radio" id="cLock2" value="是" checked="checked"/>
                          是
                        </td>
                      {% endif %}
                    </tr>
                  {% endif %}
                  <tr>
                      <th colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
                        <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設"></th>
                  </tr>
                </table>
	            <span style="color:red">{{message}}</span>
            </div>
        </div>
  </form>


  <script src="{% static 'jquery.min.js' %}"></script>
    <script>

      function Logout(){
        $(location).attr("href","/logout/");
      }

    </script>
</body>
</html>

