<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <title>資料表新增</title>
    <script type="text/javascript">
      if (window.history && window.history.pushState) {
          window.history.pushState('', null, null);
          window.onpopstate = function() {
              window.history.pushState('', null, null);
          };
      }
    </script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" >首頁</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown"> </li>
          </ul>
          <ul class="navbar-nav mr-auto" style="display: flex; justify-content: center;">
            <li class="nav-item active">
                <a class="navbar-brand">會議記錄表新增</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: green;">
              {{firstname}} <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/setAgent/">設定代理人</a>
                <a class="dropdown-item" href="/changepassword/">修改密碼</a>
            </div>
          </li>
        </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <input type="button" class="btn btn-secondary mt-2" name="button" id="button" onclick="javascript:window.history.go(-1); return false;" value="回上一頁">
      <div class="row">
        <h2 class="mt-2">會議紀錄 資料表新增</h2>
      </div>
      <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    </div>


    <form action="." method="post" name="form1" enctype="multipart/form-data" onsubmit="return validateForm()">
    {% csrf_token %}
      <div class="container">
        <div class="row">
          <table class="table">
            <tr><th>編號</th><td><input type="text" name="{{ meetingform.cNumber.name }}" value="{{ meetingform.cNumber.value }}" disabled></td> </tr>
            <tr><th>紀錄者</th><td><input type="text" name="{{ meetingform.cRecoder.name }}" value="{{ meetingform.cRecoder.value }}" disabled></td></tr>
            <tr><th>會議型態</th>
              <td>
                <input name="cMeetingType" type="radio" value="定期會議" checked="checked"/>定期會議
                <input name="cMeetingType" type="radio" value="管理審查會議"/>管理審查會議
                <input name="cMeetingType" type="radio" value="產銷會議"/>產銷會議
                <input name="cMeetingType" type="radio" value="其他會議"/>其他會議
              </td>
            </tr>
            <tr><th>開會日期</th><td><input type="date" name="start_date" value="{{ defaultDates.start }}"></td>
            <tr><th>地點</th><td>{{meetingform.cLocation}}</td></tr>
            <tr><th>主席</th><td>{{meetingform.cLeader}}</td></tr>
            <tr><th>主題</th><td>{{meetingform.cTopic}}</td></tr>
            <tr><th>列席人員</th><td>{{meetingform.cAttendees1}}</td></tr>
            <tr><th>出席人員</th><td>{{meetingform.cAttendees2}}</td></tr>
            <tr>
              <th>檔案</th>
              <td>
                <input name="cFile" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile1" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile2" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile3" type="file">
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <input name="cFile4" type="file">
              </td>
            </tr>
            <th align="center">
              <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
              <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設">
            </th>
            </tr>
          </table>
        </div>
      </div>
    </form>

    <script src="{% static 'jquery.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'customer.js' %}"></script>
    <script type="text/javascript">prohibitpreviouspage();</script> -->

    <script>
      function validateForm() {
        var startDateInput = document.querySelector('input[name="start_date"]').value;
        if (startDateInput == "") {
          alert("請填寫日期");
          return false; 
        }
      }
      document.addEventListener('DOMContentLoaded', function() {
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
        return false;

      });

      function Logout(){
        $(location).attr("href","/logout/");
      }
    </script>


  </body>
</html>
