<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <title>顯示所有資料</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/homeIndex/">首頁</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ul class="navbar-nav ml-2">
              <li class="nav-item">
                <button class="btn btn-light my-2 my-sm-0" onclick="home()">新增</button>
              </li>
            </ul>

          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-warning my-2 my-sm-0" id="{{firstname}}" onclick="perosonIndex(event)">待簽
                {% if allHomeCount != 0%}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{allHomeCount}}
                  </span>
                {% endif %}
              </button>
            </li>
          </ul>
          {% if username == "admin" %}
            <li class="nav-item active">
              <a class="nav-link" href="/admin/">Admin <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              其他表單
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
              <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
              <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
              <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
              <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-2">
          <li class="nav-item active">
            <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-2">
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <form action="." method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <table class="table">
          <thead>
            <th scope="col">編號</th>
            <th scope="col">種類</th>
            <th scope="col">發文者</th>
            <th scope="col">部門別</th>
            <th scope="col">日期</th>
            <th scope="col">文件進度</th>
            <th scope="col">完成日期</th>
            <th scope="col">檔案</th>
          </thead>
          <tbody>
            {% for unit in all %}
                <tr>
                  {% if unit.cType == "簽呈" %}
                  <td><a href="/signView/{{unit.cNumber}}/">{{unit.cNumber}}</a> </td>
                  {% elif unit.cType == "會議記錄" %}
                    <td><a href="/meetingView/{{unit.cNumber}}/">{{unit.cNumber}}</a> </td>
                  {% elif unit.cType == "內部連絡單" %}
                    <td><a href="/contactView/{{unit.cNumber}}/">{{unit.cNumber}}</a></td>
                  {% elif unit.cType == "工程發包議價記錄單" %}
                    <td><a href="/contractView/{{unit.cNumber}}/">{{unit.cNumber}}</a></td>
                  {% else %}
                    <td><a href="/changeView/{{unit.cNumber}}/">{{unit.cNumber}}</a></td>
                  {% endif %}
                  <td>{{unit.cType}}</td>
                  <td>{{unit.cAuther}}</td>
                  <td>{{unit.cDepartment}}</td>
                  <td>{{unit.cDate}}</td>
                  <td>{{unit.cProgress}}</td>
                  <td>{{unit.cEndDate}}</td>

                  {% if unit.cFile != None %}
                      <td><a href="http://127.0.0.1:8000/media/{{unit.cFile}}" download>{{unit.cFile}}</a></td>
                  {% else %}
                      <td>{{unit.cFile}}</td>
                  {% endif %}

                  {% if unit.cLock == "否" %}
                  <td>
                      <button type="button" class="btn btn-outline-warning mb-2" id="Detail/{{unit.cNumber}}" onclick="Detail(event)">編輯</button>
                      <button type="button" class="btn btn-outline-info mb-2" id="{{unit.id}}" onclick="Edit(event)">上傳檔案</button>
                      <button type="button" class="btn btn-outline-danger mb-2" id="{{unit.id}}" onclick="Delete(event)">刪除</button>
                      <button type="button" class="btn btn-outline-secondary mb-2" id="{{unit.id}}" onclick="Deny(event)">簽核</button>
                    </td>
                  {% elif unit.cLock == "是" and authenticate == True %}
                  <td>
                      <button type="button" class="btn btn-outline-info" id="{{unit.id}}" onclick="Edit(event)">編輯</button>
                  </td>
                  {% endif %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row">
      <p>總資料 {{allHomeCount}} 筆</p>
    </div>
  </div>

  
  <script src="{% static 'jquery.min.js' %}"></script>
  <script>


      function Edit(event){
        var id = event.target.id
        $(location).attr("href","/homeEdit/"+id+"/load");
      }

      function Delete(event){
        var id = event.target.id
        $(location).attr("href","/homeDelete/"+id+"/");
      }

      function Detail(event){
        var id = event.target.id
        $(location).attr("href",'/'+id+"/");
      }

      function Logout(){
        $(location).attr("href","/logout/");
      }

      function perosonIndex(event){
        var id = event.target.id
        $(location).attr("href","/perosonIndex/"+id+"/");
      }

      function home(){
        $(location).attr("href","/homePost/")
      }

      function Deny(event){
        var id = event.target.id
        $(location).attr("href","/returnedIndex/"+id+"/");
      }
    


  </script>

  <script scr="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.js' %}"></script>
</body>

</html>