<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2.custom/jquery-ui.theme.min.css' %}">
    <title>資料表新增</title>
  </head>
  <body>
    <h2>簽呈 資料表新增</h2>
    <!-- <button onclick="BackToSign()">回簽呈資料表</button> -->
    <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    <form action="." method="post" name="form1">
      {% csrf_token %}
      <table border="1" cellpadding="5" cellspacing='3'>
        <tr><th>編號</th><td>{{signedform.cNumber}}</td></tr>
        <tr><th>職稱</th><td>{{signedform.cJob_title}}</td></tr>
        <tr><th>主旨</th><td>{{signedform.cSubject}}</td></tr>
        <tr><th>說明</th><td>{{signedform.cDiscription}}</td></tr>
        <tr>
            <th align="center">
            <input type="submit" name="button" id="button" value="送出">
            <input type="reset" name="button2" id="button2" value="重設">
        </th>
          </tr>
      </table>
    </form>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script>
      // function BackToSign(){
      //   $(location).attr("href","/signIndex/")
      // }
    </script>
  


  </body>
</html>
