<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <title>資料表修改</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/homeIndex/">首頁</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                其他表單
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
                <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
                <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
                <a class="dropdown-item" href="/contractallIndex/">發包議價表</a>
                <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto" style="display: flex; justify-content: center;">
            <li class="nav-item active">
                <a class="navbar-brand">簽呈表修改</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item active">
              <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h2 class="mt-2">簽呈 資料表修改</h2>
      </div>
      <button class="btn btn-success my-2 my-sm-0" id="{{unithome.cNumber}}" onclick="transfer(event)">修改簽核順序</button>
      
      <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    </div>


    <form action="/designEdit/{{unithome.cNumber}}/{{unit.id}}/save" method="POST" name="form1">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <table class="table">
                    {% if unithome.cProgress != "結案" %}
                      <tr>
                        <th>發文者</th>
                        <td><input type="text" id="cAuther" name="cAuther" value="{{unithome.cAuther}}"></td>
                      </tr>
                      <tr>
                        <th >主旨</th>
                        <td><input type="text" id="cSubject" name="cSubject" value="{{unit.cSubject}}"></td>
                      </tr>
                      
                      <tr>
                        <th>完成日期</th>
                        {% if unithome.cEndDate == "None" %}
                            <td><input type="text" id="cEndDate" name="cEndDate" value=""></td>
                        {% else %}
                            <td><input type="text" id="cEndDate" name="cEndDate" value="{{unithome.cEndDate}}"></td>
                        {% endif %}
                      </tr>
                      
                      <tr>
                        <th>職稱</th>
                        <td><input type="text" id="cJob_title" name="cJob_title" value="{{unit.cJob_title}}"></td>
                      </tr>

                      <tr>
                          <th>說明</th>
                          <td><textarea  id="cDiscription" name="cDiscription">{{unit.cDiscription|safe}}</textarea></td>
                      </tr>
                      <tr>
                        <th>擬辦</th>
                        <td><textarea  id="cProposed" name="cProposed">{{unit.cProposed|safe}}</textarea></td>
                      </tr>
                      <tr>
                        <th>密件</th>
                        <td>
                          <select class="form-control" id="taskTypeSelect" name="cSecret">
                            <option value="{{unit.cSecret}}" name="cReceive">{{unit.cSecret}}</option>
                            {% for key,value in homeform.secret %}
                              {% if key != unit.cSecret %}
                                <option value="{{ key }}" name="cSecret">{{value}}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
                        <input type="reset"  class="btn btn-danger" name="button2" id="button2" value="重設"></th>
                      </tr>
                    {% else %}
                      
                    {% endif %}

                </table>
            </div>
        </div>
  </form>


  <script src="{% static 'jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'customer.js' %}"></script>
  <script type="text/javascript">prohibitpreviouspage();</script>

  <script>

    function Logout(){
        $(location).attr("href","/logout/");
    }
    function transfer(event){
      var id = event.target.id
      $(location).attr("href","/transferPost/"+id+"/");
    }
    function backtosign(){
      $(location).attr("href","/signallIndex/");
    }

  </script>
</body>
</html>

